* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  height: 100vh;
  font-family: 'Roboto',
    sans-serif;
  background-color: #f0f0f0;
  padding-top: 25px;
}

.hidden {
  display: none;
}

/* ------------- GRID STYLING --------------- */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
}

/* ------------- HEADER --------------- */

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0 25px 0;
}

.search-wrapper {
  width: 225px;
}

#search {
  width: 100%;
  padding: 4px 0 3px 4px;
  border: 1.75px solid #a0a0a0;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 2px 5px 0px rgba(128, 128, 128, 1);
  -moz-box-shadow: 0.5px 2px 5px 0px rgba(128, 128, 128, 1);
  box-shadow: 0.5px 2px 5px 0px rgba(128, 128, 128, 1);
}

#search:hover {
  border: 1.75px solid #0087ca;
  border-radius: 5px;
}

#search:focus {
  border: 1.75px solid #0087ca;
  border-radius: 5px;
  outline: none;
}

.title-container {
  display: flex;
  align-items: center;
  background-color: #D0EBFF;
  margin: 0 10px 45px;
  border: 1.5px solid #a0a0a0;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 2px 5px 0px rgba(128, 128, 128, 1);
  -moz-box-shadow: 0.5px 2px 5px 0px rgba(128, 128, 128, 1);
  box-shadow: 0.5px 2px 5px 0px rgba(128, 128, 128, 1);
}

.page-title {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.075rem;
  text-align: center;
  color: #0087CB;
  padding: 8px 10px;
  margin: 0px;
}

/* ------------- OVERLAY --------------- */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: rgba(50, 50, 50, 0.8)
}

/* ------------- MODAL --------------- */

.modal {
  width: 300px;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #D0EBFF;
  border: 1.5px solid #a0a0a0;
  border-radius: 5px;
  padding: 30px 20px;
}

#left-btn {
  float: left;
}

#right-btn {
  float: right;
}

#left-btn,
#right-btn {
  color: #0087ca;
  font-weight: 700;
  cursor: pointer;
  background-color: #EFEFEF;
  margin: 50% 0;
  border: 1.5px solid #a0a0a0;
  border-radius: 5px;
  outline: none;
}

.modal-hr {
  height: 0.5px;
  background-color: #a0a0a0;
}

.modal-close {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  color: #0087ca;
  border: 1.5px solid #a0a0a0;
  border-radius: 5px;
}

.modal-close:hover,
#left-btn:hover,
#right-btn:hover {
  background-color: #e1e1e1;
  border: 1.5px solid #808080;
}

/* ------------- CARDS --------------- */

.card {
  display: flex;
  align-items: center;
  background-color: #D0EBFF;
  padding: 25px 0 25px 10px;
  border: 1.5px solid #a0a0a0;
  border-radius: 5px;
  -webkit-box-shadow: 0.5px 2px 5px 0px rgba(128, 128, 128, 1);
  -moz-box-shadow: 0.5px 2px 5px 0px rgba(128, 128, 128, 1);
  box-shadow: 0.5px 2px 5px 0px rgba(128, 128, 128, 1);
}

.card:hover {
  cursor: pointer;
  border: 1.5px solid #808080;
  transform: scale(1.025);
  transition: transform 0.25s;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color:
    #0087ca;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:
    #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.card:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.avatar {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border: 1.5px solid #a0a0a0;
  border-radius: 50%;
}

.avatar:hover {
  border: 1.6px solid #0087ca;
  transform: scale(1.1);
  transition: transform 0.25s;
}

.modal-avatar {
  margin-bottom: 10px;
}

.name,
.modal-name {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
  margin: 0 0 8px 0;
}

.modal-name,
.phone,
.dob {
  color: #0087ca;
}

.email,
.address,
.modal-email {
  color: #404040;
  font-weight: 300;
  font-size: 0.80rem;
}

.email {
  margin: 0 0 5px 0;
  overflow-wrap: break-word;
  max-width: 194px;
}

.address {
  margin: 0px;
}

.modal-email {
  margin: 0 0 5px 0;
}









/* ------------- MEDIA QUERIES --------------- */
@media only screen and (min-width: 768px) {
  body {
    padding: 25px 35px 0;
    overflow: hidden;
  }

  .header-wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 0 70px 0;
  }

  .search-wrapper {
    width: 300px;
    margin: auto 25px 0 15px;
  }

  #search {
    width: 95%;
  }

  .title-container {
    margin: 0;
  }

  .modal {
    width: 375px;
  }

  .modal-content {
    position: relative;
  }

  #left-btn,
  #right-btn {
    width: 35px;
    height: 35px;
    margin: 35% 0;
  }

  #left-btn {
    float: none;
    position: absolute;
    top: 4px;
    left: -70px;
  }

  #right-btn {
    float: none;
    position: absolute;
    top: 4px;
    right: -70px;
  }
}







@media only screen and (min-width: 1024px) {
  .page-title {
    font-size: 1.65rem;
    text-align: start;
  }

  .search-wrapper {
    margin: auto 32px 0 0;
  }

  #search {
    width: 100%;
  }
}