* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  height: 100vh;
  font-family: 'Roboto',
    sans-serif;
  background-color: #FCFCFC;
  padding-top: 25px;
}

/* ------------- GRID STYLING --------------- */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
}

/* ------------- HEADER --------------- */

.page-title {
  font-size: 1.05rem;
  font-weight: 400;
  letter-spacing: 0.075rem;
  text-align: center;
  margin: 50px 0 30px 0;
}

/* ------------- OVERLAY --------------- */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: rgba(100, 100, 100, 0.4)
}

/* ------------- MODAL --------------- */

.modal {
  width: 375px;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1.5px solid #778;
  border-radius: 5px;
  padding: 30px 20px;
}

.modal-close {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* ------------- CARDS --------------- */

.card {
  display: flex;
  align-items: center;
  border: 1.5px solid #E0E0E0;
  border-radius: 5px;
  padding: 25px 0 25px 10px;
}

.card:hover {
  cursor: pointer;
  border: 1.5px solid #c0c0c0;
}

.avatar {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.name {
  margin: 0 0 8px 0;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
}

.email,
.address,
.modal-email {
  color: #969C9F;
  font-weight: 300;
  font-size: 0.80rem;
}

.email {
  margin: 0 0 5px 0;
  overflow-wrap: break-word;
  max-width: 194px;
}

.address {
  margin: 0px;
}

.modal-email {
  margin: 0 0 5px 0;
}






/* ------------- MEDIA QUERIES --------------- */
@media only screen and (min-width: 768px) {
  body {
    padding: 25px 35px 0;
    overflow: hidden;
  }

  .page-title {
    text-align: start;
  }
}